[submodule "src/hybrid_astar_planner_kth"]
	path = src/hybrid_astar_planner_kth
	url = git@github.com:karlkurzer/path_planner.git
[submodule "src/fast_planner"]
	path = src/fast_planner
	url = git@gitee.com:ming_ustb/Fast-Planner.git
